[submodule "src/3rdparty/xgboost"]
	path = src/3rdparty/xgboost
	url = https://github.com/hunter-packages/xgboost.git
[submodule "src/3rdparty/cereal"]
	path = src/3rdparty/cereal
	url = https://github.com/headupinclouds/cereal.git
